<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>John's Youtube to MP3 Converter</title>
</head>
<body>
   
    <div class="top-container">
        <form action="/convert-mp3" method="POST" id="form">
            <h1><i class="fa-brands fa-youtube"></i>Lauron's Youtube to MP3 Converter</h1>
            <h4>Enter the video ID</h4>
            <h5><em>Example:</em> https://www.youtube.com/watch?v=<span style="color: red;">7z25ZZ3DHds</span></h5>
            <div>
                <input type="text" name="videoID" placeholder="Video ID">
                <button id="convert-btn">Convert</button>
            </div>
        </form>
    </div>

    <div class="bottom-container">
        <% if(typeof success != "undefined" && success) { %>
          <div class="success">
            <p><%= song_title %></p>
            <div class="button-container">
              <a href="<%= song_link %>">
                <button id="download-btn">DOWNLOAD</button> 
              </a>
            </div>
          </div>
        <% } else if(typeof success != "undefined" && !success) { %>
          <div class="errors">
            <p><%= message %></p>
          </div>
        <% } %>
      </div>

</body>
</html>
